files:      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN CERTIFICATE-----
        MIIDPTCCAiUCFFlOZrPESMc/rXtXuHgtmaqozNkeMA0GCSqGSIb3DQEBCwUAMFsx
        CzAJBgNVBAYTAkJSMRMwEQYDVQQIDApTb21lLVN0YXRlMREwDwYDVQQKDAhmaXJl
        eHRlcjEkMCIGCSqGSIb3DQEJARYVb3RoYXZpbzI2NTBAZ21haWwuY29tMB4XDTIy
        MTEyOTIxMjg1NloXDTIzMTEyOTIxMjg1NlowWzELMAkGA1UEBhMCQlIxEzARBgNV
        BAgMClNvbWUtU3RhdGUxETAPBgNVBAoMCGZpcmV4dGVyMSQwIgYJKoZIhvcNAQkB
        FhVvdGhhdmlvMjY1MEBnbWFpbC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAw
        ggEKAoIBAQCswABeZ9CUHBemQxtrr3ZyEFEdwowOIUGRx86H40LvbM21roOo9a4J
        CrNTU5pUjbZiFa2ILYoRZ+2QRIbklMmbM4WO9rq9GB/ZncT9l2Jy2SchtG1kiY+x
        TywvgKRaXe4x5dryqml+USqW+v885cscerojC35uDLvQOlq3Pctbr1GhmW5VTrbq
        Vs8D/cnKUgmMyTkjKPzXwS74X6WpKxvAJfyxNaCEK6vU9lyiAxTczI3++j8RrVMA
        Sct4eVq9SNJuthrjSI++fv+m90NaOyF4O4zC4MADzbdhFHA0KojejDKeBJgWpFk0
        0GtWCp1J4+7IPgWa5yyDv+K9CVO5M0QFAgMBAAEwDQYJKoZIhvcNAQELBQADggEB
        AFvllD6JZUwTpM2rGOruNkwRyZJk9FG+GUyONrPpHsKXRxU99lgU0sStzt5H0But
        vOoJhbCdXDUY9DH8DnChsjI+cNtWDBB4AJqNGfLHFYgEo85mFBz6rsm+jtpq5km7
        n6Ehi/ejRGJNwQivRgS+Nu+p0vf+Du+a2tYwHa4aXCHrF52mzSJv7+AcxSzKDC69
        lh+ODi421ehj7lPmQ6U2mj05sUBT5OOFwzLWXvQi7oz7wCPHo9Post43cRHGtK2u
        FWupjjYsca8L5D3+vcx8INFkADibiVfD0xN+zmWPSdsoHcWYgbZgw1aPC+HmldV3
        kZyi0CcEroSlZ2c13FW9nwk=
        -----END CERTIFICATE-----


      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN RSA PRIVATE KEY-----
        MIIEpQIBAAKCAQEArMAAXmfQlBwXpkMba692chBRHcKMDiFBkcfOh+NC72zNta6D
        qPWuCQqzU1OaVI22YhWtiC2KEWftkESG5JTJmzOFjva6vRgf2Z3E/ZdictknIbRt
        ZImPsU8sL4CkWl3uMeXa8qppflEqlvr/POXLHHq6Iwt+bgy70Dpatz3LW69RoZlu
        VU626lbPA/3JylIJjMk5Iyj818Eu+F+lqSsbwCX8sTWghCur1PZcogMU3MyN/vo/
        Ea1TAEnLeHlavUjSbrYa40iPvn7/pvdDWjsheDuMwuDAA823YRRwNCqI3owyngSY
        FqRZNNBrVgqdSePuyD4Fmucsg7/ivQlTuTNEBQIDAQABAoIBADBlObU48D4OALIb
        arsoVM5vs8najtIGjxAAIeP/zui0Wozjbw8OhMsTrFlTupClgsrHt+3GlD98Fhms
        mP3AkRphvLDofjgrYgDdKirBFluGamgO2/amcxMBUyebqm+GkQx5kHUbOKKiqoPR
        nV+6IMTBvRPETI8YEiWrs25SaX4tkURJjWZVh1nrr9E0T3GcTokUSlYmzZd9BccZ
        7P/OTDjLchicJFfpqbU3Af5mpzXxQ86Nfd2IT0oST31ls33mO3UUqlyrTL4HLZlA
        HQ+JKnsmvuXP4IWydu9ki3WEnzlyPQuBguuNGOdllY3JvWY9l5X4DA/gcyiFwL80
        6bxA76ECgYEA48wUuHs95rd9olhG1yTNYu7Tlz2pPUPPuSQ2zDb2HxbO3z/5BbEh
        RN5koOQiISLmZlUDmeFK6szZkQpYaHdt+lFyy1q7mN4IMA36HxGykTKxf138yObh
        oShUogT1kpZ0zTS+k5k3szjFIxdd6Q1202KsOdBqVJjgDvLCFc6zAoMCgYEAwiM6
        LG19YXC258c1i2IXccfACtP4Y8x2BBriZ/qVMhrmTQQrIminGlib5SlmnlQpZK69
        6vmj7emSc4vW3evQAVcnboZaMNzXBnkBvRt+RevWqAvIGg+bQyYvFuJZmEZJR1M1
        FZj56oXv4lsEcmx2D6J6rXOHnwPZHeZPJgdauNcCgYEAmpTt5razLfKMjfNrtymh
        Oqao7XQJeaqftpqNmQ0e/b/jiHoICcXGts5X6RqG0oe1Y/IC7JSG20lBxvwHPHT3
        K6vDw52Bul3JnpqNhjHjREbrTmxAUzDiIhOVQxEseFojTvGg9dY+hx9aH9MGhlT9
        srq99smorlnDikFQVa4bqfMCgYEAmEKYtY+J7opAabhLvm3IhWxsqhFllqAdT0rm
        lzZpHUsLpQvH6My7gmZMnobB/Rt0+4oxWcFBWK8ANa9Pbe4szWBVhNHKmtgZrPHq
        8y5E8wHs8Q+MeSQUWa3w8LnGGy/E+TPBRpccK1uwsI9CBZwbXFfKb49UptqVxmWD
        XggWlzECgYEAmO9RJdXHsHC+MOWmiq1BuFZOYhF44mVAXRGWykPHGX88beTxPs3i
        Kc61t+40fdLAeaQ+DsmxN8n3rFJi4lABXoV6rbXdoAq0ePcgZbEtr1w07qQzxwJ8
        N5NvyOoyJQgzMB5ZAKfUhT34z/95tIY3aC0xPT2Lhpz/6o/mNTOFsY4=
        -----END RSA PRIVATE KEY-----
